/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 70%;
    max-width: 70%; /* Để ảnh kéo dài full chiều ngang */
    height: auto; /* Đảm bảo tỷ lệ khung hình */
    max-height: 250px; /* Giảm chiều cao của ảnh */
    border-radius: 10px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 70%; /* Giới hạn chiều rộng của form */
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%; /* Chiều rộng của textarea là 100% bên trong form */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 70%; /* Giới hạn chiều rộng của kết quả */
    text-align: center; /* Căn giữa nội dung */
}
